#cover {
  img {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .centerText {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    padding: 1.25rem;

    padding: 0 5rem;
    h1 {
      font-size: 3rem;
      line-height: 1;
      letter-spacing: -0.025em;
      font-weight: 700;
      font-family: Open Sans, system-ui, sans-serif;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin: 20px 0;
      color: #5d646e;
    }
    #searchBox {
      border-radius: 0.5rem;
      height: 3.5rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 21px 36px;
      #search {
        padding-right: 3.5rem;
        padding-left: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        border-color: transparent;
        border-width: 1px;
        border-radius: 0.5rem;
        &:focus{
            border:1px solid #019376;
            box-shadow: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
      }
      .btn {
        background-color: #019376;
        color: #fff;
        border: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: 600;
        padding-left: 2rem;
        padding-right: 2rem;
        min-width: 143px;
        height: 100%;
        i{
            margin-right: 10px;
        }
      }
    }
  }
}
