/* :root {
  --color-1: #eaeaea;
  --color-2: #2dedbd;
  --color-3: #494949;
} */

.App {
  font-family: sans-serif;
  box-sizing: border-box;

}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
